# provider parameters

oci_base_provider = {
  api_fingerprint      = ""
  api_private_key_path = ""
  region               = "us-phoenix-1"
  tenancy_id           = ""
  user_id              = ""
}

# general oci parameters

oci_base_general = {
  compartment_id       = ""
  label_prefix         = "dev"
}

# networking

oci_base_vcn = {
  create_drg                   = false
  drg_display_name             = "drg"
  internet_gateway_enabled     = true
  lockdown_default_seclist     = true
  nat_gateway_enabled          = true
  service_gateway_enabled      = true
  tags = {
    department  = "finance"
    environment = "dev"
  }
  vcn_cidr                     = "10.0.0.0/16"
  vcn_dns_label                = "base"
  vcn_name                     = "base"
  internet_gateway_route_rules = [
    /*
    {
      destination = "192.168.1.0/24"
      destination_type = "CIDR_BLOCK"
      network_entity_id = "drg" // use drg created by this module. Requires `create_drg = true`
      description = "route through drg"
    },
    {
      destination = "8.8.8.0/24"
      destination_type = "CIDR_BLOCK"
      network_entity_id = "internet_gateway" // use Internet Gateway created by this module. Requires `internet_gateway_enabled = true`
      description = "route through Internet Gateway"
    },
    {
      destination = "8.8.8.0/24"
      destination_type = "CIDR_BLOCK"
      network_entity_id = "ocid1.drg." // use an externally created resource or a resource that was not available at the time of the 1st run`
      description = "route through an externally created resource or a resource that was not available at the time of the 1st run"
    }
    */ 
  ]
  nat_gateway_route_rules      = [
    /*
    {
      destination = "192.168.1.0/24"
      destination_type = "CIDR_BLOCK"
      network_entity_id = "drg" // use drg created by this module. Requires `create_drg = true`
      description = "route through drg"
    },
    {
      destination = "8.8.8.0/24"
      destination_type = "CIDR_BLOCK"
      network_entity_id = "nat_gateway" // use NAT gateway created by this module. Requires `nat_gateway_enabled = true`
      description = "route through NAT gateway"
    },
    {
      destination = "8.8.8.0/24"
      destination_type = "CIDR_BLOCK"
      network_entity_id = "ocid1.drg." // use an externally created resource or a resource that was not available at the time of the 1st run`
      description = "route through an externally created resource or a resource that was not available at the time of the 1st run"
    }
    */
  ]
}

# bastion

oci_base_bastion = {
  availability_domain  = 1
  bastion_access        = "ANYWHERE"
  bastion_enabled       = true
  bastion_image_id      = "Autonomous"
  bastion_operating_system_version = "7.9"  
  bastion_shape = {
    # shape = "VM.Standard.E2.2"
    shape="VM.Standard.E3.Flex",
    ocpus=1,
    memory=4,
    boot_volume_size=50
  }
  bastion_state         = "RUNNING"  
  bastion_upgrade       = true
  netnum                = 0
  newbits               = 14
  notification_enabled  = false
  notification_endpoint = ""
  notification_protocol = "EMAIL"
  notification_topic    = "bastion"
  ssh_private_key_path  = ""
  ssh_public_key        = ""
  ssh_public_key_path   = ""
  tags = {
    department  = "finace"
    environment = "dev"
    role        = "bastion"
  }
  timezone              = "Australia/Sydney"
}

# operator
oci_base_operator = {
  availability_domain       = 1
  operator_enabled          = true
  operator_image_id         = "Oracle"
  operator_shape = {
    # shape = "VM.Standard.E2.2"
    shape="VM.Standard.E3.Flex",
    ocpus=1,
    memory=4,
    boot_volume_size=50
  }
  operating_system_version  = "8"
  operator_upgrade          = false
  enable_instance_principal = true
  netnum                    = 1
  newbits                   = 14
  notification_enabled      = false
  notification_endpoint     = ""
  notification_protocol     = "EMAIL"
  notification_topic        = "operator"
  ssh_private_key_path      = ""
  ssh_public_key            = ""
  ssh_public_key_path       = ""
  tags = {
    department  = "finance"
    environment = "dev"
    role        = "operator"
  }

  timezone = "Australia/Sydney"
}