# Copyright 2017, 2019, Oracle Corporation and/or affiliates.  All rights reserved.
# Licensed under the Universal Permissive License v 1.0 as shown at http://oss.oracle.com/licenses/upl

# Keep root variables flat to make it easy for users to fill in

# Identity and access parameters
api_fingerprint = ""

api_private_key_path = ""

compartment_id = ""

tenancy_id = ""

user_id = ""

# ssh keys
ssh_private_key_path = ""

ssh_public_key_path = ""

# general oci parameters
label_prefix = "gitlab"

region = "us-phoenix-1"

# networking parameters
newbits =  {
    "bastion" = 13
    "lb"      = 11
    "gitlab" = 2
}

vcn_cidr = "10.0.0.0/16"

vcn_dns_label = "gitlab"

vcn_name = "gitlab vcn"

# nat
create_nat_gateway = true

# service gateway
create_service_gateway     = true

subnets ={
    bastion = 32
    lb  = 16
    gitlab = 1
}

# bastion
bastion_shape = "VM.Standard.E2.1"

create_bastion  = true

bastion_access  = "ANYWHERE"

enable_instance_principal = false

image_id = "NONE"

# availability domains
availability_domains = {
    "bastion" = 1
    "gitlab"  = 1
}

# gitlab

gitlab_shape     = "VM.Standard2.4"

gitlab_url = "gitlab.oraclevcn.com"
