# Identity and access parameters

api_fingerprint = ""

api_private_key_path = ""

region = "us-phoenix-1"

tenancy_id = ""

user_id = ""

ssh_private_key_path = ""

ssh_public_key_path = ""

# general oci parameters

compartment_id = ""

label_prefix = "basedbexample"

# networking

internet_gateway_enabled = false

nat_gateway_enabled = true

netnum = {
  admin   = 33
  bastion = 32
  db      = 16
}

newbits = {
  admin   = 13
  bastion = 13
  db      = 11
}

service_gateway_enabled = true

vcn_cidr = "10.0.0.0/16"

vcn_dns_label = "basedb"

vcn_name = "basedb"


# bastion

bastion_access = "ANYWHERE"

bastion_enabled = true

bastion_image_id = "NONE"

bastion_notification_enabled = true

bastion_notification_endpoint = "<email_address>"

bastion_notification_protocol = "EMAIL"

bastion_notification_topic= "bastion_server_notification"

bastion_package_upgrade = false

bastion_shape = "VM.Standard.E2.1"

bastion_timezone = "Australia/Sydney"

bastion_use_autonomous = true

admin_enabled = true

admin_image_id = "NONE"

enable_instance_principal = true

admin_notification_enabled = false

admin_notification_endpoint = ""

admin_notification_protocol = "EMAIL"

admin_notification_topic= "admin_server_notification"

admin_package_upgrade = true

admin_shape   = "VM.Standard.E2.1"

admin_timezone= "Australia/Sydney"

admin_use_autonomous = false

# availability_domains

availability_domains = {
  bastion = 1
  admin   = 1
  db      = 1
}

# db

db_system_shape = "VM.Standard2.8"

cpu_core_count = 2

db_edition = "ENTERPRISE_EDITION_EXTREME_PERFORMANCE"

db_admin_password = "BEstrO0ng_#12"

db_name = "basedb"

db_home_db_name = "basedb2"

db_version = "19.0.0.0"

db_home_display_name = "basedbhome"

db_disk_redundancy = "HIGH"

db_system_display_name = "basedb_system"

hostname = "myoracledb"

n_character_set = "AL16UTF16"

character_set = "AL32UTF8"

db_workload = "OLTP"

pdb_name = "pdb1"

data_storage_size_in_gb = 256

license_model = "LICENSE_INCLUDED"

node_count = 2

data_storage_percentage = 40
